{% extends 'base_app/base.html' %}
{% load staticfiles %}
{% block first_block %}
    <script type="text/javascript">
        var url = "{% url 'mileage_account_app:all_car_refueling' %}";
        function car_mileage_account(car_id) {
            location.href = url+car_id+'/'
        }
    </script>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ">
            <select id="select_car" class="form-control" onchange="car_mileage_account($(this).val())">
                    {% for car in cars %}
                        <option {% if selected_car == car.id %}
                            selected
                        {% endif %}value="{{ car.id }}">{{ car.model }} {{ car.number }}</option>
                    {% endfor %}

                </select>
                <div class="table-responsive ">
                    <table  id="table" class="table table-bordered">
                        {% for car_refueling in car_refuelings %}
                            <tr>
                                <td><a href="{% url 'mileage_account_app:detail_car_refueling'  car_refueling.id %}">
                                    {{ forloop.counter }}</a></td>
                                <td><a href="{% url 'mileage_account_app:detail_car_refueling'  car_refueling.id %}">
                                    {{ car_refueling.car }}</a></td>
                                <td>{{ car_refueling.date_time.date|date:'d.m.Y'}}
                                    {{ car_refueling.date_time.time|time:'H:i' }}</td>
                                <td>{{ car_refueling.employee }}</td>
                                <td>{{ car_refueling.mileage }}</td>
                                <td>{{ car_refueling.refueling_quantity }}</td>
                            </tr>
                        {% endfor %}

                    </table>
                    <form action="{% url 'mileage_account_app:new_car_refueling' %}" method="get">
                        <button type="submit" class="btn">Dodać nowe tankowanie</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
