{% extends 'base_app/base.html' %}
{% load staticfiles %}
{% block body %}
    <script src="{% static 'base_app/js/django_form.js' %}"></script>
    <script src="{% static 'reports_app/js/report_add.js' %}"></script>
    <div class="container">
        <div class="row" style="margin-top: 15px">
            <div class="col-lg-4">
                <form   method="post" action="{% url 'reports_app:list_month_report' %}">
                    {% csrf_token %}
                    <p>
                        <label itemid="month">Miesiąc</label>
                        <select id="month" class="form-control">
                            {% for number, name in dict_month_name.items %}
                                <option value="{{ number }}">{{ name }}</option>
                            {% endfor %}

                        </select>
                    </p>
                    <p>
                        <label itemid="year">Rok</label>
                        <input id="year" type="number" class="form-control">
                    </p>
                    <p>
                        {% if user.is_staff and employees%}
                            <label itemid="employee">Pracownik</label>
                            <select id="employee" class="form-control">
                                {% for employee in employees %}
                                    <option value="{{ employee.id }}">{{employee }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </p>
                    <p>
                        <button id="btn_accept" class="form-control">Utwórz raport za biezący miesiąc</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}