{% extends 'base_app/base.html' %}
{% block body %}
    <div class="container">
            {% if report %}
            <div class="row">
                <div class="col-lg-12">
                Raport za {{ dict_month_name }} {{ year }} roku.
                {% if user.is_staff and detail%}
                    {% include 'reports_app/consolidated_report.html' with dict=users_installations_list installations_standart_dict=installations_standart_dict installations_type_dict=installations_type_dict installation_standart=installation_standart installation_type=installation_type%}
                {% endif %}
                <div class="table-responsive ">
                    <table id="table" class="table table-bordered">
                            <tr>
                                <th style="width: 30px">№<br>prz</th>
                                <th style="width: 30px"><span class="glyphicon glyphicon-list"></span></th>
                                <th style="width: 30px"><span class="glyphicon glyphicon-resize-small"></span></th>
                                <th style="width: 30px">Typ</th>
                                <th style="width: 180px">Numer<br>zlecenia</th>
                                <th style="width: 80px">Data</th>
                                <th style="width: 180px">Adres</th>
                                {% if user.is_staff and not employee%}
                                    <th style="width: 180px">Pierwszy<br>pracownik</th>
                                    <th style="width: 180px">Drugi<br>pracownik</th>
                                    <th style="width: 180px">Trzeci<br>pracownik</th>
                                {% elif not user.is_staff or employee %}
                                    <th style="width: 180px">Pierwszy<br>pracownik</th>
                                {% endif %}

                            </tr>
                        {% for element in report %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                {% if element.with_contract %}
                                    <td><span style="color: green" class="glyphicon glyphicon-plus"></span></td>
                                {% else %}
                                    <td><span style="color: red" class="glyphicon glyphicon-minus"></span></td>
                                {% endif %}
                                <td>{% if element.installation_standart  %}
                                        {{ element.installation_standart }}
                                {% endif %}</td>
                                <td>{% if element.installation_type  %}
                                        {{ element.installation_type }}
                                {% endif %}</td>
                                <td><a href="{% url 'installation_app:installation_detail' element.pk%}">{{ element.number }}</a> </td>
                                <td>{{ element.address }}</td>
                                <td>{{ element.date }}</td>
                                {% if user.is_staff and not employee%}
                                    {% if element.employee_1 %}
                                        <td>{{ element.employee_1 }}</td>
                                    {% else %}
                                        <td><span class="glyphicon glyphicon-minus"></span></td>
                                    {% endif %}
                                    {% if element.employee_2 %}
                                        <td>{{ element.employee_2 }}</td>
                                    {% else %}
                                        <td><span class="glyphicon glyphicon-minus"></span></td>
                                    {% endif %}
                                    {% if element.employee_3%}
                                        <td>{{ element.employee_3 }}</td>
                                    {% else %}
                                        <td><span class="glyphicon glyphicon-minus"></span></td>
                                    {% endif %}
                                {% elif not user.is_staff%}
                                    {% if element.employee_1_id == user.pk %}
                                        <td>{{ element.employee_1 }}</td>
                                    {% elif element.employee_2_id == user.pk %}
                                        <td>{{ element.employee_2 }}</td>
                                    {% elif element.employee_3_id == user.pk %}
                                        <td>{{ element.employee_3 }}</td>
                                    {% endif %}
                                {% elif employee %}
                                    {% if element.employee_1_id == employee %}
                                        <td>{{ element.employee_1 }}</td>
                                    {% elif element.employee_2_id == employee %}
                                        <td>{{ element.employee_2 }}</td>
                                    {% elif element.employee_3_id == employee %}
                                        <td>{{ element.employee_3 }}</td>
                                    {% endif %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                        {% ifnotequal  len_contract  0 %}
                            <tr>
                                <td></td>
                                <td>{{ len_contract }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                {% if user.is_staff and not employee%}
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                {% elif not user.is_staff or employee %}
                                    <td></td>
                                {% endif %}
                            </tr>
                        {% endifnotequal %}
                    </table>
                </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}