{% extends 'base_app/base_whithout_navbar.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <a href="{% url 'installation_app:all_installation' %}"><h4 style="text-align: center;">Eloran</h4></a>
                <h5 style="text-align: center;">Ewidencja czasu pracy {{ employee }} za
                    {% for key, val in dict_month_name.items %}
                       {% ifequal key ts_month %}
                           {{ val }}
                        {% endifequal %}
                    {% endfor %}
                {{ year }} roku.

                </h5>
                <div class="table-responsive">
                    <table id="table" class="table table-bordered"  width="100%" cellpadding="5">
                        {% for day_installations, workingtime in zip_lists %}
                            <tr align="center">
                                <td>
                                    {{ forloop.counter }}
                                </td>
                                <td>
                                    {{ day_installations|length }}
                                </td>
                                <td align="left">
                                    {% for installation in day_installations %}
                                        {{ installation.get_time_slot_display }}
                                    {% endfor %}
                                </td>
                                <td>
                                    {{ workingtime }}
                                </td>
                            </tr>

                        {% endfor %}
                            <tr>
                                <td></td>
                                <td>{{ inst_result }}</td>
                                <td></td>
                                <td>{{ time_result }}</td>
                            </tr>
                    </table>
                </div>
                <h5 style="text-align: right;">{{ employee }} ______________________________________</h5>
                <h6 style="text-align: right;">(czytelny podpis)</h6>
            </div>
        </div>
    </div>
{% endblock %}