{% extends 'base_app/base.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="table-responsive">
                    <table id="table" class="table-bordered"  width="100%" cellpadding="5">
                        {% for day_installations, workingtime in zip_lists %}
                            <tr align="center">
                                <td>
                                    {{ forloop.counter }}
                                </td>
                                <td>
                                    {{ day_installations|length }}
                                </td>
                                <td align="left">
                                    {% for installation in day_installations %}
                                        {{ installation.get_time_slot_display }}
                                    {% endfor %}
                                </td>
                                <td>
                                    {{ workingtime }}
                                </td>
                            </tr>

                        {% endfor %}
                            <tr>
                                <td></td>
                                <td>{{ inst_result }}</td>
                                <td></td>
                                <td>{{ time_result }}</td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}