{% extends 'base_app/base.html' %}
{% load staticfiles %}
{% block body %}
        <link rel="stylesheet" type="text/css" href="{% static 'installation_app/css/modal_form.css' %}">
        {% if user.is_staff %}
            <script type="text/javascript">var url_add_standart = "{% url 'installation_app:add_standart' %}"</script>
            <script type="text/javascript" src="{% static 'installation_app/js/add_standart.js' %}"></script>

            <script type="text/javascript">var url_add_type = "{% url 'installation_app:add_type' %}"</script>
            <script type="text/javascript" src="{% static 'installation_app/js/add_type.js' %}"></script>
        {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-lg-6" >
                <form id="installation_detail_form" method="post" enctype="multipart/form-data" action="{% url 'installation_app:installation_detail' installation_id%}">
                    {% csrf_token %}
                    {{ installation_form.as_p }}
                        {% if installation_images %}
                            {% for installation_image in installation_images %}
                                <a href="{{ installation_image.image.url }}"><img src="{{ installation_image.image.url }}" class="img-responsive"> </a>
                                <a href="{% url 'installation_app:delete_image' installation_image.id %}"><span class="glyphicon glyphicon-trash"></span></a>
                            {% endfor %}

                        {% endif %}
                        <p><input id="add_image_id" type="file" name="image" onchange="submit_form()"></p>
                        <p><button name="submit">Zapisać</button></p>
                        <p><button name="submit_and_return">Zapisz i wróć</button></p>

                        <script type="text/javascript"> function submit_form() {
                            $('[name="submit"]').click()
                            location.hash = 'add_image_id'
                            }
                        </script>
                    {% if installation_images %}
                        <script type="text/javascript"></script>
                {% endif %}
                    
                </form>

            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'base_app/js/django_form.js' %}"></script>
        <script type="text/javascript"> bootstrap_form('#installation_detail_form')</script>
{% endblock %}