{% extends 'base_app/base.html' %}
{% load staticfiles %}
{% block body %}
        <script type="text/javascript" src="{% static 'base_app/js/django_form.js' %}"></script>
    <div class="row">
        <div class="col-lg-6">
            <form method="post" action="{% url 'installation_app:installation_detail' installation_id%}">
                {% csrf_token %}
                {{ installation_form.as_p }}
                    <p><button name="submit">Zapisać</button></p>
                    <p><button name="submit_and_return">Zapisz i wróć</button></p>

            </form>

        </div>
    </div>

{% endblock %}