{% extends 'base_app/base.html' %}
{% load staticfiles %}
{% block first_block %}
<script src="{% static 'base_app/js/django_form.js' %}"></script>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                {% if form.errors %}
                    <p>Wprowadzone błędne dane</p>
                {% endif %}

                <form method="post" action="{% url 'users_app:password_change' %}">
                    {% csrf_token %}
                    <p><label itemid="id_old_password">Stare hasło</label> {{ form.old_password }}</p>
                    <p><label itemid="id_new_password1">Nowe hasło</label> {{ form.new_password1 }}</p>
                    <p><label itemid="id_new_password2">Powtórz nowe hasło</label> {{ form.new_password2 }}</p>
                    <p><button name="submit">Zmienić</button></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}