{% extends 'base_app/base.html' %}
{% load staticfiles %}
{% block first_block %}
    <script src="{% static 'base_app/js/django_form.js' %}"></script>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <form action="{% url 'users_app:user_data' %}" method="post">
                    {% csrf_token %}
                    {{ user_change_form.as_p }}
                    <p><button>Zapisać</button></p>
                </form>

                <a href="{% url 'users_app:password_change' %}" >
                    Zmienić hasło
                </a>
            </div>
        </div>
    </div>
{% endblock %}