{% extends 'base_app/base.html' %}
{% load staticfiles %}
{% block first_block %}
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 " >
                <h3>Pracowniki </h3>
                    <div class="table-responsive ">
                        <table  id="table" class="table table-bordered">
                            {% for employee in active_user %}
                                    {% if not employee.is_staff %}
                                        <tr>
                                            <td><a href="{% url 'users_app:user_data_admin' employee.pk%}">{{ employee.first_name }}</a></td>
                                            <td><a href="{% url 'users_app:user_data_admin' employee.pk%}">{{ employee.last_name }}</a></td>
                                            <td><a href="{% url 'users_app:user_data_admin' employee.pk%}">{{ employee.username }}</a></td>
                                            <td><a href="{% url 'users_app:user_data_admin' employee.pk%}">{{ employee.email }}</a></td>
                                        </tr>
                                    {% endif %}

                                {% empty %}
                                    brak prcownikow
                                {% endfor %}
                        </table>
                    <a href="{% url 'users_app:add_user' %}"> dodaj prcownika</a>
                    </div>
            </div>
            <div class="col-lg-5 " >
                <h3>zwolnieni pracownicy </h3>
                    <div class="table-responsive ">
                        <table  id="table" class="table table-bordered">
                            {% for employee in un_active_user %}
                                {% if not employee.is_staff %}
                                    <tr>
                                        <td><a href="{% url 'users_app:user_data_admin' employee.pk%}">{{ employee.first_name }}</a></td>
                                        <td><a href="{% url 'users_app:user_data_admin' employee.pk%}">{{ employee.last_name }}</a></td>
                                        <td><a href="{% url 'users_app:user_data_admin' employee.pk%}">{{ employee.username }}</a></td>
                                        <td><a href="{% url 'users_app:user_data_admin' employee.pk%}">{{ employee.email }}</a></td>
                                    </tr>
                                {% endif %}
                            {% empty %}
                                brak zwolnionych prcownikow
                            {% endfor %}
                        </table>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}