{% extends 'base_app/base.html' %}
{% load staticfiles %}
{% block first_block %}
    <script src="{% static 'base_app/js/django_form.js' %}"></script>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
            {% if  user.is_staff and other_user_change%}
                <form id="user_data_form" action="{% url 'users_app:user_data_admin' other_user_change%}" method="post">
                {% else %}
                <form id="user_data_form" action="{% url 'users_app:user_data' %}" method="post">
            {% endif %}

                    {% csrf_token %}
                    {{ user_change_form.non_fields_errors }}
                    {% if user.is_staff %}
                        <p><label>ID</label>{{ user_change_form.username }}</p>
                        <p><label>Imie</label>{{ user_change_form.first_name }}</p>
                        <p><label>Nazwisko</label>{{ user_change_form.last_name }}</p>
                        <p><label>Email</label>{{ user_change_form.email }}</p>
                        <p><label>Jest pracownikiem</label>{{ user_change_form.is_active }}</p>
                    {% else %}
                        <p><label>ID</label>{{ user_change_form.username }}</p>
                        <p><label>Imie</label>{{ user_change_form.first_name }}</p>
                        <p><label>Nazwisko</label>{{ user_change_form.last_name }}</p>
                        <p><label>Email</label>{{ user_change_form.email }}</p>
{#                        <p><label>Jest pracownikiem</label>{{ user_change_form.is_active }}</p>#}
                    {% endif %}

                    <p><button>Zapisać</button></p>
                </form>
                    <script type="text/javascript" src="{% static 'base_app/js/django_form.js' %}"></script>
                    <script type="text/javascript"> bootstrap_form('#user_data_form')</script>

                <a href="{% url 'users_app:password_change' %}" >
                    Zmienić hasło
                </a>
            </div>
        </div>
    </div>
{% endblock %}